.trigger
  display none
  position absolute
  top 8px
  right 0
  height: 26px;
  width: 41px;
  z-index $zIndexSidebar + 1
  transition all 0.3s ease
  padding 3px
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)

  +bp(m)
    display block

  &__lines,
  &__lines:before,
  &__lines:after
    position absolute
    top 10px
    left 2px
    display block
    size 30px 5px
    background $colorSidebar
    border-radius 2px
    transition all 0.3s ease

  &__lines:before,
  &__lines:after
    content ''
    left 0

  &__lines:before
    top -8px

  &__lines:after
    top 8px

body.sidebar-open
  .trigger
    right 0px
    top 0px
    padding 9px 2px

    &__lines
      background transparent
      top 19px

      &:before,
      &:after
        transform-origin: 50% 50%
        top:0

      &:before
        transform: rotate3d(0,0,1,45deg)

      &:after
        transform: rotate3d(0,0,1,-45deg)
