<a href="#" class="trigger" data-action="toggle-sidebar"><span class="trigger__lines"></span></a>
<header class="page__header">
  <div class="sidebar" data-element="sidebar-icons">
    <nav class="sidebar__icons">
      {% for category in site.sidebar.categories %}
        {% assign iconPath = category[1].icon %}
        {% assign activeClass = '' %}
        {% if category[1].id == activeCategory %}
          {% assign activeClass = 'active' %}
        {% endif %}
        <a class="sidebar__icon {{ activeClass }}" data-element="sidebar-icon" data-id="{{ category[1].id }}" href="/{{ category[1].path }}/" title="{{ category[1].name }}">{% include {{ iconPath }} %}</a>
      {% endfor %}
    </nav>
  </div>
  <div class="listing" data-element="sidebar-listing">

    <div class="listing__header">
    {% if site.sidebar.categories[activeCategory] %}
      <h1>{{ site.sidebar.categories[activeCategory].name }}</h1>
    {% else %}
      <h1>Loading...</h1>
    {% endif %}
    </div>
    <div class="listing__items">
      {% for item in site.categories[activeCategory] limit:10 %}
        {% assign activeClass = '' %}
        {% if item.slug == page.slug %}
          {% assign activeClass = 'listing__item--active' %}
        {% endif %}
        <a class="listing__item {{ activeClass }}" href="{{item.url}}">{{item.title}}</a>
      {% endfor %}
    </div>
  </div>
</header>
