<a href="#" class="trigger" data-action="toggle-sidebar"><span class="trigger__lines"></span></a>
<header class="page__header">
  <div class="sidebar" data-element="sidebar-icons">
    <nav class="sidebar__icons">
      <a class="sidebar__icon active" data-element="sidebar-icon" data-id="home" href="/" title="Home">{% include icons/bumbu.svg %}</a>
      <a class="sidebar__icon" data-element="sidebar-icon" data-id="blog" href="/blog/" title="Blog">{% include icons/daily-newspaper.svg %}</a>
      <a class="sidebar__icon" data-element="sidebar-icon" data-id="development" href="/development/" title="Development">{% include icons/small-light-bulb.svg %}</a>
      <a class="sidebar__icon" data-element="sidebar-icon" data-id="experiments" href="/experiments/" title="Experiments">{% include icons/chemistry.svg %}</a>
      <a class="sidebar__icon" data-element="sidebar-icon" data-id="learning" href="/learning/" title="Learning">{% include icons/graduation-cap.svg %}</a>
      <a class="sidebar__icon" data-element="sidebar-icon" data-id="about" href="/about/" title="About">{% include icons/user-avatar.svg %}</a>
      <a class="sidebar__icon" data-element="sidebar-icon" data-id="search" href="/search/" title="Search">{% include icons/zoom-tool.svg %}</a>
    </nav>
  </div>
  <div class="listing" data-element="sidebar-listing">
    <div class="listing__header">
      <h1>Loading...</h1>
    </div>
  </div>
</header>
