<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
  {% if page.previewThumbnail %}
  <meta property="og:image" content="{{site.url}}{{page.previewThumbnail}}" />
  {% endif %}

  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  <link href='https://fonts.googleapis.com/css?family=Lato:100,300|Droid+Serif:400,700,400italic&subset=latin,cyrillic,latin-ext' rel='stylesheet' type='text/css'>
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">
  {% if page.og_image %}
    {% capture og_image_prefix %}{{page.og_image | slice: 0,1}}{% endcapture %}
    {% if og_image_prefix == '$' %}
      <meta property="og:image" content="{{site.assets_path}}{{page.date | date: '%Y/%m'}}{{page.og_image | slice: 1,9999}}" />
    {% else %}
      <meta property="og:image" content="{{page.og_image}}" />
    {% endif %}
  {% endif %}
  {% if page.og_image_alt %}
      <meta property="og:image:alt" content="{{page.og_image_alt}}" />
  {% endif %}
  {% if page.og_description %}
      <meta property="og:description" content="{{page.og_description}}" />
  {% endif %}
</head>
