// Colors

$colorBg = #fdfeff
$colorText = #111
$colorTextInverted = #ffffff
$colorSidebar = #888
$colorSidebarBg = #f1f1f1
$colorLink = #0096D7
$colorLinkAccented = #1E6491
$colorCodeSnippet = #905

// Font sizes

$baseFontSize = 16px
$codeFontSize = 14px
$baseLineHeight = 1.5

$fontSizeH1 = 45px
$fontSizeH2 = 36px
$fontSizeH3 = 26px
$fontSizeH4 = 22px
$fontSizeSidebar = 24px
$fontSizeListing = 21px

// Font families

$baseFontFamily = 'Droid Serif', Georgia, Times New Roman, serief
$headingsFontFamily = 'Lato', 'Proxima Nova', Verdana, Geneva, Arial, sans-serif
$codeFontFamily = Monaco, 'Lucida Console', 'Courier New', monospace
$headingsFontWeight =  300

// Sizes

$widthIconsSidebar = 43px
$widthItemsSidebar = 246px
$widthSidebar = $widthIconsSidebar + $widthItemsSidebar

$desktopBreakPoint = 840px
$postMaxWidth = 642px


// z-Index

$zIndexSidebar = 100
