---
layout: default
---
<article class="post">

  <header class="post__header">
    <h1 class="post__title">Latests posts in {{ page.title | escape }}</h1>
  </header>

  <div class="post__content">
    {% for post in site.categories[page.category] limit:3 %}
      <div class="post__excerpt">
        <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
        {{ post.excerpt }}
        <a href="{{ post.url }}" class="post__excerpt-link">Read more</a>
      </div>
    {% endfor %}
  </div>

</article>
