---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post__header">
    <h1 class="post__title" itemprop="name headline">{{ page.title | escape }}</h1>
  </header>

  <div class="post__content" itemprop="articleBody">
    {{ content }}
  </div>

  <footer class="post__footer">
    <time class="post__date" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
  </footer>

</article>
