---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post__header">
    <h1 class="post__title" itemprop="name headline">{{ page.title | escape }}</h1>
  </header>

  <div class="post__content" itemprop="articleBody">
    {{ content }}
  </div>

  <footer class="post__footer">
    {% if page.hide_date != true %}
    <time class="post__date" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
    {% endif %}

    {% if page.next.url %}
      <div class="post__related">
        You may also like: <a class="next" href="{{page.next.url}}">{{page.next.title}}</a>
      </div>
    {% endif %}
  </footer>

  {% if page.comments %}
  <div class="post__comments">
    <div id="disqus_thread"></div>
    <script>
    var disqus_config = function () {
    this.page.url = '{{page.url | absolute_url}}';
    this.page.identifier = '{{page.slug}}';
    };
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://bumbu.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
    </script>
  </div>
  {% endif %}
</article>
